<h2>{{question.title}}</h2>
<p>Asked by {{question.author}}</p>
<br>
<p>{{question.questionContent}}</p>
<br><br>

<button {{action 'delete' question}} class="btn btn-danger">Delete Question</button>
